.nav-bar{
  background-color: white;
  margin-bottom: 0px;
  display:flex;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
  width: 100%;
}

.nav-button{
  font-size: 18px;
}

img.logo{
  max-width: 150px;
  width: 100%;
  height: auto;
}